<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_left_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,27},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,21}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>arrow_left_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,23}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>arrow_right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,21}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>arrow_right_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,23}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>btn_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,88},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btn_close_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btn_reload_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,50},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btn_reload_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04f22db88ff85ca1a49c708e53864fe9$</string>
            <key>textureFileName</key>
            <string>gui.png</string>
        </dict>
    </dict>
</plist>
