<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,123}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>close_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,123}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>direction_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{150,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,123}}</string>
                <key>sourceSize</key>
                <string>{150,123}</string>
            </dict>
            <key>direction_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,123}}</string>
                <key>sourceSize</key>
                <string>{150,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6135eadcd5a7f0fe7f82824645f5eb6$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
