<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_left_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,50},{113,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{113,38}}</string>
                <key>sourceSize</key>
                <string>{127,54}</string>
            </dict>
            <key>arrow_left_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{119,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{119,46}}</string>
                <key>sourceSize</key>
                <string>{127,54}</string>
            </dict>
            <key>arrow_right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{113,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{113,38}}</string>
                <key>sourceSize</key>
                <string>{127,54}</string>
            </dict>
            <key>arrow_right_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{119,46}}</string>
                <key>sourceSize</key>
                <string>{127,54}</string>
            </dict>
            <key>btn_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,162},{68,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_close_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_reload_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,90},{68,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_reload_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f675e00fcd3feb94c3bd1201ace856e$</string>
            <key>textureFileName</key>
            <string>gui.png</string>
        </dict>
    </dict>
</plist>
